<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sko.wip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Work In Progress"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Assignment3Gridview"
            android:label="Work In Progress"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="Assignment2"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Assignment1"
            android:parentActivityName=".Assignment3Gridview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Assignment3RecycleV"
            android:label="Recycle View"
            android:parentActivityName=".Assignment3Gridview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:parentActivityName=".Assignment3Gridview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Assignment5RecycleView"
            android:label="Assignment 5: Network"
            android:parentActivityName=".Assignment3Gridview"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>